<form action="/diamond" method="get" name="diamond_form">
    <p>
        Show configuration from diamond (dataId = "com.taobao.middleware:test.properties")
    </p>
    <p>
        <input type="button" value="go" onclick="diamond_form.action='/diamond/testProperties';diamond_form.submit();"/>
    </p>
    <br>
    <p>
        Show configuration from diamond (dataId = "com.taobao.middleware:configFromListener.properties")
    </p>
    <p>
        <input type="button" value="go" onclick="diamond_form.action='/diamond/configFromListener';diamond_form.submit();"/>
    </p>
</form>