
<form action="/hsf" method="post" name="hsf_form">
    <p>
        Hello, what's your name?
    </p>

    <p>
        name : <input type="text" value="core engine" name="name"/>
    </p>
    
    <ol>
        <br/>
        invoke &nbsp;&nbsp;<input type="button" value="go" onclick="hsf_form.action='/invoke/common';hsf_form.submit();"/>
        <br/><br/>
    </ol>
</form>
